.ui.card.task-card {

  cursor: grab;

  .meta {
    display: flex;
    padding: 5px;
    justify-content: space-between;

    .modify {
      margin: 0;

      i {
        margin: 0;
        padding: 0;
        font-size: 1.2rem;
        cursor: pointer;
      }
    }


  }



}